/* html {
  scroll-behavior: smooth;
} */

:root {
  --body-bg: #97c0d5;
  --color-orange: orangered;
  --color-dark: #2a2a2a;
  --text-color: var(--color-dark);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
}

/* <!-- Dark Mode Toggler --> */

/* <!-- NavBar Section --> */
header {
  box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.541);
  position: sticky;
  top: 0;
  background: var(--body-bg);
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.3rem;
  position: relative;
}

.logo :first-child {
  font-weight: bold;
  margin-right: 1rem;
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

.line::before {
  content: "";
  background: var(--color-orange);
  width: 4px;
  height: 100%;
  position: absolute;
  left: 34%;
}

.navigation {
  list-style-type: none;
  font-weight: bold;
}

.navigation li:hover {
  color: var(--color-orange);
  transition: all 0.3s;
}
/* <!-- Hero Section --> */
/* <!-- Banner Section --> */
/* <!-- Skills Section --> */
/* <!-- Projects Section --> */
/* <!-- About Me Section --> */
/* <!-- Contact Section --> */
/* <!-- Footer --> */
